.tableBody {
	color: white;
	display: table;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.tableHeader {
	font-weight: bold;
}

.speicherzelle {
	width: 130px;
}

.inhalt {
	width: 130px;
}

.bedeutung {

}

table {
	width: 100%;
}

.tr:hover {
	width: 100%;
	background-color: #32373b;
}
