.tableBody {
	color: white;
	display: table;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
}

.tableHeader {
	font-weight: bold;
}

.speicherzelle {
	width: 130px;
}

.inhalt {
	width: 130px;
}

.bedeutung {

}
