.tableBody {
	color: white;
	display: table;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.tableHeader {
	font-weight: bold;
}

.speicherzelle, .inhalt, .bedeutung {
	width: 120px;
}

table {
	width: 100%;
}

table td {
  width: 120px;
  overflow: hidden;
  display: inline-block;
}

.tr:hover {
	width: 100%;
	background-color: #32373b;
}

.userInput {
	width: 120px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	cursor: default;
}

.var {
	background-color: #282C2F;
}
