:root {
	--darkgrey:	#21252b;
	--grey:			#252930;
	--lightgrey:#282c34;
	--green: 		#73c990;
	--blue: 		#568af2;
}

.tableBody {
	color: white;
	display: table;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

.tableHeader {
	font-weight: bold;
}

.speicherzelle, .inhalt, .bedeutung {
	width: 120px;
}

table td {
  overflow: hidden;
  display: inline-block;
}

.tr:hover {
	width: 100%;
	background-color: var(--lightgrey);
}

.userInput {
	width: 120px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	cursor: default;
}

.reg {
	background-color: var(--grey);
}

.active {
	color: var(--blue);
	background-color: var(--lightgrey);
}

.control {
	height: 60px;
}

.buttons button {
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	height: 30px;
	width: 30px;
}

.buttons button:focus {
	outline: none;
}

.buttons img {
	height: 100%;
}

.outputReg {
	font-family: 'Open Sans', sans-serif;
	color: white;
	width: 50%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}

.outputReg span {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}
