:root {
	--darkgrey:	#21252b;
	--grey:		#252930;
	--lightgrey:#282c34;
	--blue: 	#568af2;
}

body {
	margin: 0px 8px;
} 

img {
	height: 100%;
}

button {
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	cursor: pointer;
	outline:none;
}

.table {
	top: 130px;
	position: relative;
}

table {
	width: 100%;
}

.controlpanel {
	width: 404px;
	position: fixed;
	background-color: var(--darkgrey);
	z-index: 1;
}

.tableBody {
	width: 402px;
	color: white;
	display: table;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
}

.tableHeader {
	font-weight: bold;
}

.speicherzelle, .inhalt, .bedeutung {
	width: 33%;
}

table td {
	overflow: hidden;
}

.tr:hover {
	width: 100%;
	background-color: var(--lightgrey);
}

.userInput {
	width: 120px;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	cursor: default;
}

.active {
	color: var(--blue);
	background-color: var(--lightgrey);
}

.control {
	padding: 7px 0px;
	border-bottom: solid 1px white;
}

.buttons {
	display: flex;
	justify-content: center;
	height: 35px;
	align-items: center;
}

.buttons button {
	height: 24px;
	width: 50px;
}

.reg {
	height: 35px;
	display: flex;
	align-items: center;
}

.outputReg {
	font-family: 'Open Sans', sans-serif;
	color: white;
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
	text-align: center;
}

.label {
	padding: 7px 0px;
}

.label table {
	height: 30px;
}

.help {
	position: fixed;
	margin-top: 8px; 
}

.help button {
	height: 20px;
	z-index: 3;
}

.help:hover > .help_popup {
	opacity: 1;
	visibility: visible;
}

.help_popup {
	z-index: 2;
	visibility: hidden;
	width: 404px;
	background-color: var(--grey);
	position: absolute;
	top: 0px;

	opacity: 0;
	transition: opacity 0.3s;
}

.help_popup table {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	display: table;
	border-collapse: collapse;
	vertical-align: top;
}

.help_popup tr:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.help_popup tr {
	margin: 10px;
}

.help_popup td {
	padding: 8px;
}